/**
 * Float Layout Activity
 **/

* {
  box-sizing: border-box;
  text-align: center;
}

.clearfix::after {
  content: " ";
  display: block;
  clear: both;
}

body {
background: rgb(36, 36, 36);
}

header {
  padding: 20px;
  margin-bottom: 20px;
  color: #333;
  background: #FFA500;
}

section {
background: blue;
}

#left {
  color: white;
  background: #30948D;
  padding: 20px;
  margin-bottom: 20px;
  float: left;

}

#middle {
  color: white;
  background: #9E1212;
  float: left;
}

#right {
  color: white;
  background: #30948D;
  float: left;
}

#full {
  background: white;
}

#division {

}

aside {

}

footer {
  background: #FFA500;
  padding:20px;
  margin-bottom: 20px;
  margin-top: 20px;
}
